body {
  color: #fff;
}

.img-fluid {
  margin-left: 38%;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  margin-left: 100px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery img {
  width: 100%;
  height: auto;
}

.gallery-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  text-align: center;
  border: 2px solid #000;
  border-top: none;
  border-radius: 8px;
}

.text-title {
  color: #007bff;
  margin-bottom: 10px;
}

.text-description {
  color: #333;
}

.container {
  color: #000000;
}

.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .img-fluid {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  .card-img-top {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}